body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

select,
input,
textarea,
button {
  width: 100%; /* 宽度设置为 100% */
  padding: 10px; /* 内边距为 10px */
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button {
  background-color: #0084ff;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
button:focus {
  background-color: #0056b3;
  outline: none;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
  overflow-x: auto;
}

#copy-notification {
  display: none;
  background-color: #28a745;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 8px 16px;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#body,
#commit-message {
  width: 100%; /* 让 textarea 宽度自适应容器 */
  min-height: 180px; /* 设置一个最小高度 */
  height: auto; /* 高度自适应内容 */
  resize: vertical; /* 允许垂直调整大小 */
  box-sizing: border-box;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
    border-radius: 0;
  }

  select,
  input,
  textarea,
  button {
    width: 100%;
  }
}
